@import "../vars";

@each $val, $slate in 
    (
        0: $slate50, 
        1: $slate100, 
        2: $slate200, 
        3: $slate300, 
        4: $slate400, 
        5: $slate500, 
        6: $slate600, 
        7: $slate700, 
        8: $slate800, 
        9: $slate900
    )
    {
    .f-bg-slate-#{$val} {
        background-color: $slate;
    }
    .f-txt-slate-#{$val} {
        color: $slate;
    }
}

@each $val, $gray in 
    (
        0: $gray50, 
        1: $gray100, 
        2: $gray200, 
        3: $gray300, 
        4: $gray400, 
        5: $gray500, 
        6: $gray600, 
        7: $gray700, 
        8: $gray800, 
        9: $gray900
    )
    {
    .f-bg-gray-#{$val} {
        background-color: $gray;
    }
    .f-txt-gray-#{$val} {
        color: $gray;
    }
}

@each $val, $zinc in 
    (
        0: $zinc50, 
        1: $zinc100, 
        2: $zinc200, 
        3: $zinc300, 
        4: $zinc400, 
        5: $zinc500, 
        6: $zinc600, 
        7: $zinc700, 
        8: $zinc800, 
        9: $zinc900
    )
    {
    .f-bg-zinc-#{$val} {
        background-color: $zinc;
    }
    .f-txt-zinc-#{$val} {
        color: $zinc;
    }
}

@each $val, $neutral in 
    (
        0: $neutral50, 
        1: $neutral100, 
        2: $neutral200, 
        3: $neutral300, 
        4: $neutral400, 
        5: $neutral500, 
        6: $neutral600, 
        7: $neutral700, 
        8: $neutral800, 
        9: $neutral900
    )
    {
    .f-bg-natural-#{$val} {
        background-color: $neutral;
    }
    .f-txt-neutral-#{$val} {
        color: $neutral;
    }
}

@each $val, $stone in 
    (
        0: $stone50, 
        1: $stone100, 
        2: $stone200, 
        3: $stone300, 
        4: $stone400, 
        5: $stone500, 
        6: $stone600, 
        7: $stone700, 
        8: $stone800, 
        9: $stone900
    )
    {
    .f-bg-stone-#{$val} {
        background-color: $stone;
    }
    .f-txt-stone-#{$val} {
        color: $stone;
    }
}

@each $val, $red in 
    (
        0: $red50, 
        1: $red100, 
        2: $red200, 
        3: $red300, 
        4: $red400, 
        5: $red500, 
        6: $red600, 
        7: $red700, 
        8: $red800, 
        9: $red900
    )
    {
    .f-bg-red-#{$val} {
        background-color: $red;
    }
    .f-txt-red-#{$val} {
        color: $red;
    }
}

@each $val, $orange in 
    (
        0: $orange50, 
        1: $orange100, 
        2: $orange200, 
        3: $orange300, 
        4: $orange400, 
        5: $orange500, 
        6: $orange600, 
        7: $orange700, 
        8: $orange800, 
        9: $orange900
    )
    {
    .f-bg-orange-#{$val} {
        background-color: $orange;
    }
    .f-txt-orange-#{$val} {
        color: $orange;
    }
}

@each $val, $amber in 
    (
        0: $amber50, 
        1: $amber100, 
        2: $amber200, 
        3: $amber300, 
        4: $amber400, 
        5: $amber500, 
        6: $amber600, 
        7: $amber700, 
        8: $amber800, 
        9: $amber900
    )
    {
    .f-bg-amber-#{$val} {
        background-color: $amber;
    }
    .f-txt-amber-#{$val} {
        color: $amber;
    }
}

@each $val, $yellow in 
    (
        0: $yellow50, 
        1: $yellow100, 
        2: $yellow200, 
        3: $yellow300, 
        4: $yellow400, 
        5: $yellow500, 
        6: $yellow600, 
        7: $yellow700, 
        8: $yellow800, 
        9: $yellow900
    )
    {
    .f-bg-yellow-#{$val} {
        background-color: $yellow;
    }
    .f-txt-yellow-#{$val} {
        color: $yellow;
    }
}

@each $val, $lime in 
    (
        0: $lime50, 
        1: $lime100, 
        2: $lime200, 
        3: $lime300, 
        4: $lime400, 
        5: $lime500, 
        6: $lime600, 
        7: $lime700, 
        8: $lime800, 
        9: $lime900
    )
    {
    .f-bg-lime-#{$val} {
        background-color: $lime;
    }
    .f-txt-lime-#{$val} {
        color: $lime;
    }
}

@each $val, $green in 
    (
        0: $green50, 
        1: $green100, 
        2: $green200, 
        3: $green300, 
        4: $green400, 
        5: $green500, 
        6: $green600, 
        7: $green700, 
        8: $green800, 
        9: $green900
    )
    {
    .f-bg-green-#{$val} {
        background-color: $green;
    }
    .f-txt-green-#{$val} {
        color: $green;
    }
}

@each $val, $emerald in 
    (
        0: $emerald50, 
        1: $emerald100, 
        2: $emerald200, 
        3: $emerald300, 
        4: $emerald400, 
        5: $emerald500, 
        6: $emerald600, 
        7: $emerald700, 
        8: $emerald800, 
        9: $emerald900
    )
    {
    .f-bg-emerald-#{$val} {
        background-color: $emerald;
    }
    .f-txt-emerald-#{$val} {
        color: $emerald;
    }
}

@each $val, $teal in 
    (
        0: $teal50, 
        1: $teal100, 
        2: $teal200, 
        3: $teal300, 
        4: $teal400, 
        5: $teal500, 
        6: $teal600, 
        7: $teal700, 
        8: $teal800, 
        9: $teal900
    )
    {
    .f-bg-emerald-#{$val} {
        background-color: $teal;
    }
    .f-txt-emerald-#{$val} {
        color: $teal;
    }
}

@each $val, $cyan in 
    (
        0: $cyan50, 
        1: $cyan100, 
        2: $cyan200, 
        3: $cyan300, 
        4: $cyan400, 
        5: $cyan500, 
        6: $cyan600, 
        7: $cyan700, 
        8: $cyan800, 
        9: $cyan900
    )
    {
    .f-bg-emerald-#{$val} {
        background-color: $cyan;
    }
    .f-txt-emerald-#{$val} {
        color: $cyan;
    }
}

@each $val, $sky in 
    (
        0: $sky50, 
        1: $sky100, 
        2: $sky200, 
        3: $sky300, 
        4: $sky400, 
        5: $sky500, 
        6: $sky600, 
        7: $sky700, 
        8: $sky800, 
        9: $sky900
    )
    {
    .f-bg-emerald-#{$val} {
        background-color: $sky;
    }
    .f-txt-emerald-#{$val} {
        color: $sky;
    }
}

@each $val, $blue in 
    (
        0: $blue50, 
        1: $blue100, 
        2: $blue200, 
        3: $blue300, 
        4: $blue400, 
        5: $blue500, 
        6: $blue600, 
        7: $blue700, 
        8: $blue800, 
        9: $blue900
    )
    {
    .f-bg-emerald-#{$val} {
        background-color: $blue;
    }
    .f-txt-emerald-#{$val} {
        color: $blue;
    }
}

@each $val, $indigo in 
    (
        0: $indigo50, 
        1: $indigo100, 
        2: $indigo200, 
        3: $indigo300, 
        4: $indigo400, 
        5: $indigo500, 
        6: $indigo600, 
        7: $indigo700, 
        8: $indigo800, 
        9: $indigo900
    )
    {
    .f-bg-emerald-#{$val} {
        background-color: $indigo;
    }
    .f-txt-emerald-#{$val} {
        color: $indigo;
    }
}