.f-badge {
    padding: 1%;
    margin: 1%;
    text-align: center;
    border: none;
    border-radius: 10px;
}

.f-badge {
    @extend .f-w-10;
    @extend .f-p-1;
    @extend .f-m-1;
    @extend .f-text-center;
    @include fBorder3(silver, solid);
    @extend .f-rounded-5;
}

.f-badge-danger {
    @extend .f-bg-red-2;
}