.f-pagination {
    display: inline-block;
}

.f-pagination a {
    border-radius: 5px;
    background-color: #3498DB;
    color: white;
    border: 1px white solid;
    float: left;
    padding: 4px 8px;
    text-decoration: none
}